@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
*::-webkit-scrollbar {
    width: 0.4em; 
  }
  *::-webkit-scrollbar,
  *::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius: 10px;
  }
  *::-webkit-scrollbar-track-piece{
    background:#041f31; 
  }
  *::-webkit-scrollbar-thumb {
    background:#072b43; 
  }
  